
.wapper {
    --search-border-radius:92px;
    --search-height:46px;
    --search-top-spacer:9px;
    --search-btn-width:52px;
    
    position: fixed;
    top:0;
    left: 0;
    height: var(--default-layout-header-height);
    width: 100%;
    background-color: var(--white);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    z-index: 10 ;
    display: flex;
    justify-content:center;

    .inner {
        height: 100%;
        width: var(--default-layout-width);
        padding: 0 var(--default-layout-horizontal-spacer);
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
}

// logo

.logo-header {
    display: flex;
}

// actions
.actions{
    display: flex;
    align-items: center;
}

.btn-upload{
    background-color: transparent;
    color: #161823;
    padding: 4px 10px;
    font-size: 1.1rem;
    cursor: pointer;
}

.btn-inbox{
    background-color: transparent;
    position: relative;
    color: #161823;
    padding: 4px 10px;
    font-size: 1.1rem;
    cursor: pointer;
}

.title-inbox {
    position: absolute;
    right: 0;
    line-height: 1.2rem;
    top: -5px;
    padding: 0px 6px;
    border-radius: 10px;
    font-size: .8rem;
    background-color: var(--primary);
    color: var(--white);
    font-family:var(--font-family);
    height: 1.2rem;
}

.btn-message{
    background-color: transparent;
    color: #161823;
    padding: 4px 10px;
    font-size: 1.1rem;
    cursor: pointer;
}


// more icon 

.more-btn {
    font-size: 1.1rem;
    margin-left: 30px;
    padding: 4px 8px;
    background-color: transparent;
}

.user-avatar{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
